{% extends "global/Page.html" %}

{% block content %}
<div class="modern-instructions-container">
    <h1 class="main-title">You have failed the Comprehension Test 3 times.</h1>
    <p>
        Unfortunately, this means you do not meet the inclusion criteria for this study.
        As outlined in the Informed Consent form you agreed to, <strong>participants who fail the comprehension test or any of the attention checks are excluded from further participation</strong>.
    </p>
    <p>
        The test was designed to be straightforward, with all relevant instructions displayed on the screen below each question.
        Passing it should have been a matter of careful reading and attention.
        Because you did not pass the test, <strong>we cannot be confident in the quality of the data you would have provided.</strong>.
    </p>
    <p>
        You will now be redirected to Prolific. Please return your submission.
    </p>
    <p class="redirect-link-hidden" aria-hidden="true">[Link for redirection: https://app.prolific.com/submissions/complete?cc=CK1M535Q]</p>
</div>
{% endblock %}

{% block styles %}




{% endblock %}
