{% extends "global/Page.html" %}

{% block content %}
<div class="modern-instructions-container">



    <h1 class="main-title">Welcome to Part 4: Guessing game</h1>
    <p class="intro-text">
        In this part of the experiment, the task is not interactive. 
        <strong>You will be playing alone</strong>. Your task is to tell us, for each round played in Part 3, 
        if you think your co-player in that round delegated or not. 

    </p>
    <p class="intro-text">
        On the next page, we will present you with a table with the decisions your different co-players made in each round. 
        You will then have to guess whether they were delegating or not in that round. On top of the column, you will see the question: 
        “Did they delegate?” and you can answer “Yes” or “No” for each round of play.
    </p>
    <p class="intro-text">
        Remember that you encountered different co-players in different rounds, and they all, just like you, were presented with the choice to delegate or not in Part 3.
    </p>
    <p class="intro-text">
        For <strong>each correct answer</strong>, you will be rewarded with <strong>0.1$ bonus</strong>, 
        so that you can earn <strong>up to $1 extra</strong> for this part of the experiment.
    </p>



    




    <form method="post" class="form-container" >
        <button type="submit" class="modern-btn" >Continue</button>
    </form>
</div>



{% endblock %}
