{% extends "global/Page.html" %}

{% block content %}
<div class="results-container">
    <h1 class="main-title">Results for Part 4</h1>
    <p>The table below shows you which guesses you took right and which were wrong. Specifically, we show you your guess for each round, the correct answer, and how much money you earned. When you are ready, click continue to see how much you have accumulated in bonuses from this experiment.</p>
    

    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Round</th>
                    <th>Your Guess</th>
                    <th>Truth</th>
                    <th>Earnings ($)</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    <td>{{ r.round }}</td>
                    <td>{{ r.my_decision }}</td>
                    <td>{{ r.other_decision }}</td>
                    <td>{{ r.earnings }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>

    <form method="post" class="form-container">
        <button type="submit" class="modern-btn">Continue</button>
    </form>
</div>


{% endblock %}