{% extends "global/Page.html" %}
{% load otree_tags %}
{% block content %}
<div class="modern-test-container">
    <h1 class="main-title">Thank you so much for having participated in this experiment!</h1>
    <p style="font-size:18px;text-align:center;margin-top:30px;">
        You will be redirected to the Prolific completion page shortly.
    </p>
    <p>
        You can expect the bonuses to be paid by the end of next week. 
    </p>
    <p class="completion-link-hidden" aria-hidden="true">Link for completion: https://app.prolific.com/submissions/complete?cc=COT13ZCM</p>
</div>




{% endblock %}
