{% extends "global/Page.html" %}
{% load otree_tags %}
{% block content %}
<div class="modern-test-container">
    <h1 class="main-title">Thank you for your participation!</h1>
    <p style="font-size:18px;text-align:center;margin-top:30px;">
        You did not pass bot detection tests. Our experiment requires human participation.
        Therefore, you will be redirected to the Prolific completion page shortly.
        Please return your submission.
    </p>
    <p class="redirect-link-hidden" aria-hidden="true">[Link for redirection: https://app.prolific.com/submissions/complete?cc=CXGNXKP6]</p>
</div>




{% endblock %}
