{% extends "global/Page.html" %}

{% block content %}
<div class="modern-container">
    <h1 class="main-title">Welcome to Part 3: Optional Delegation</h1>
        <p class="intro-text">
            In this part of the experiment, 
            you will decide whether to delegate all decisions in this part to an AI agent or make all decisions yourself. 
            This choice must be made before any round begins and applies to all 10 rounds in this part. 
            Once you make your decision, it cannot be changed.
        </p>
    <div class="content-section">
        

    <div class="content-section">
        <h2>How This Works</h2>
        <div class="content-box">
            
            <ol>
                <li>
                    <strong>Decide Upfront:</strong> At the start of this part, you will choose whether to:
                    <ul>
                        <li><strong>Do not delegate</strong> and make every decision yourself for all 10 rounds, as you did in Part {{ part_no_delegation }}.</li>
                        <li><strong>Delegate </strong> all allocation decisions for all 10 rounds to an AI agent and set up an agent just like you did in Part {{ part_delegation }}.</li>
                    </ul>
                </li>
                <li><strong>Reshuffled co-players:</strong> Once again, you will be matched with a different co-player in each round, meaning that you might have to wait for them to also finalize their answers.</li>
                <li><strong>Irreversible Choice:</strong> Your decision applies to all rounds in this part. If you choose to delegate, the AI agent will make all decisions. If you choose not to delegate, you will make every decision yourself.</li>
                    
            </ol>
            <p>
                On the next page, you will be prompted to make a decision on whether to delegate or not. 
                If you choose to delegate, you will then make decisions over 10 rounds. 
                If you choose not to delegate, you will then be asked to set up an agent as you did in Part {{ part_no_delegation }}.
            </p>
        </div>
    </div>


    <form method="post" class="form-container">
        <button type="submit" class="modern-btn" id="">Continue</button>
    </form>
</div>


{% endblock %}
