{% extends "global/Page.html" %}

{% block content %}
<div class="modern-instructions-container">



    <h1 class="main-title">Welcome to Part {{ part_no_delegation }}: No Delegation</h1>
    <p class="intro-text">
        In this part of the experiment, you will make all decisions yourself for each of the 10 rounds. Unlike other parts, <strong>there is no delegation</strong>.
    </p>
    <p class="intro-text">
        In each round, you will decide whether to <strong>choose A or B</strong>. For your convenience, the table of earnings will appear whenever you need to make a decision. 
    </p>
    <p class="intro-text">
        Once you are satisfied with your decision for that round, click “Confirm”, and you will move to the next round. 
    </p>
    <p class="intro-text">
        <strong>You might need to wait</strong> for your different co-players to finalize their answers before you are able to see the Results table.
    </p>
    <p class="intro-text">
        At the end of this Part, you will see the decisions of your other co-players and your corresponding earnings in Ecoins for each round played. 
    </p>




    




    <form method="post" class="form-container" >
        <button type="submit" class="modern-btn" >Continue</button>
    </form>
</div>



{% endblock %}
